- if notice.present?
  .alert.alert-info{role: "alert"}= notice
.col-xs-12.col.md-12
  .card

    .header
      %h4.title Grade
      %hr

    .content
      .row
        .col-md-6.col-xs-12
          %table.table
            %tr
              %th Name
              %td= @grade.name
            %tr
              %th Description
              %td= @grade.description
            

    .footer
      = link_to grades_path, class: 'btn btn-default' do
        %i.fa.fa-chevron-left
        Back
      = link_to edit_grade_path(@grade), class: 'btn btn-primary btn-fill' do
        %i.fa.fa-edit
        Edit
    %br
