= simple_form_for(@exam_category) do |f|
  = f.error_notification
  .row
    .col-xs-12.col-md-6

      = f.input :name
      = f.input :description

  = f.button :submit, class: 'btn btn-primary btn-fill'
