- if notice.present?
  .alert.alert-info{role: "alert"}= notice
.col-xs-12.col.md-12
  .card

    .header
      %h4.title Exam Category
      %hr

    .content
      .row
        .col-md-6.col-xs-12
          %table.table
            %tr
              %th Name
              %td= @exam_category.name
            %tr
              %th Description
              %td= @exam_category.description
            

    .footer
      = link_to exam_categories_path, class: 'btn btn-default' do
        %i.fa.fa-chevron-left
        Back
      = link_to edit_exam_category_path(@exam_category), class: 'btn btn-primary btn-fill' do
        %i.fa.fa-edit
        Edit
    %br
